services:
  postgres:
    image: "postgres:17"
    expose:
      - "${POSTGRES_PORT}"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  redis:
    image: "redis:7-alpine"
    expose:
      - "${REDIS_PORT}"
    command: redis-server --requirepass ${REDIS_PASSWORD}
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq_dev
    expose:
      - "${RABBITMQ_NODE_PORT}"
      - "${RABBITMQ_MANAGEMENT_PORT}"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
      RABBITMQ_NODE_PORT: ${RABBITMQ_NODE_PORT}
      RABBITMQ_MANAGEMENT_TCP_PORT: ${RABBITMQ_MANAGEMENT_PORT}
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: elasticsearch_dev
    expose:
      - "${ELASTIC_PORT}"
      - "${ELASTIC_TRANSPORT_PORT}"
    environment:
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
      discovery.type: single-node
      xpack.security.enabled: "false"
      xpack.security.http.ssl.enabled: "false"
      http.port: ${ELASTIC_PORT}
      transport.port: ${ELASTIC_TRANSPORT_PORT}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${ELASTIC_PORT}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    container_name: kibana_dev
    ports:
      - "${KIBANA_EXTERNAL_PORT}:${KIBANA_INTERNAL_PORT}"
    expose:
      - "${KIBANA_INTERNAL_PORT}"
    environment:
      SERVER_PORT: ${KIBANA_INTERNAL_PORT}
      ELASTICSEARCH_HOSTS: "http://elasticsearch:${ELASTIC_PORT}"
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-f",
          "http://localhost:${KIBANA_INTERNAL_PORT}/api/status",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    depends_on:
      elasticsearch:
        condition: service_healthy

  burger-order-api:
    image: "europe-west6-docker.pkg.dev/burger-order-485523/docker-repo/burger-order-api:0.0.1-SNAPSHOT"
    expose:
      - "${BURGER_API_PORT}"
    depends_on:
      postgres:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      BURGER_API_PORT: ${BURGER_API_PORT}
      SPRING_PROFILES_ACTIVE: prod

      POSTGRES_HOST: postgres
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_USERNAME: ${EMAIL_USERNAME}
      EMAIL_PASSWORD: ${EMAIL_PASSWORD}
      ORDER_REPORT_EMAIL_RECIPIENT: ${ORDER_REPORT_EMAIL_RECIPIENT}
      EMAIL_RETRY_DELAY: ${EMAIL_RETRY_DELAY}

      RABBITMQ_HOST: rabbitmq
      RABBITMQ_NODE_PORT: ${RABBITMQ_NODE_PORT}
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASS: ${RABBITMQ_PASS}

      ELASTIC_HOST: elasticsearch
      ELASTIC_PORT: ${ELASTIC_PORT}
      ELASTIC_USERNAME: ${ELASTIC_USERNAME}
      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -q --spider http://localhost:${BURGER_API_PORT}/ping || exit 1",
        ]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 60s

  burger-order-ui:
    image: "europe-west6-docker.pkg.dev/burger-order-485523/docker-repo/burger-order-ui:0.0.1-SNAPSHOT"
    container_name: burger-order-ui
    pull_policy: never
    expose:
      - "8082"
    depends_on:
      burger-order-api:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  gateway:
    image: "europe-west6-docker.pkg.dev/burger-order-485523/docker-repo/gateway:0.0.1-SNAPSHOT"
    pull_policy: never
    ports:
      - "${GATEWAY_EXTERNAL_PORT}:${GATEWAY_INTERNAL_PORT}"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      burger-order-api:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: prod
      GATEWAY_INTERNAL_PORT: ${GATEWAY_INTERNAL_PORT}

      POSTGRES_HOST: postgres
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}

      REDIS_HOST: redis
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}

      BURGER_API_HOST: burger-order-api
      BURGER_API_PORT: ${BURGER_API_PORT}
      BURGER_UI_HOST: burger-order-ui
      BURGER_UI_PORT: ${BURGER_UI_PORT}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -q --spider http://localhost:${GATEWAY_INTERNAL_PORT}/ping || exit 1",
        ]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 60s
